ion-content {
  border: 2px solid red;
}
.forgot-password {
  margin-top: 1rem;
  width: 100%;
}

.logo-container {
  margin-top: 30%;
  text-align: center;
}

.title {
  color: #333;
}
.subtitle {
  color: #33333375;
}

img {
  display: block;
  margin: auto;
  width: 200px;
}
//
* {
  color: black;
}
.sign-in-option-button {
  margin-top: 10px !important;
  margin: auto;
  width: 277px;
  height: 52px;
  padding: 5px;
  font-weight: 700;
  font-size: 14px;
  white-space: normal;
  border-bottom: 1px solid #33333325;
  .sign-in-option-icon {
    font-size: 2.3em;
  }
}
