.space {
    margin-top: 56px;
}
.no-notifications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #888;
    margin-top: 30%;
    text-align: center;
}
