.space {
    margin-top: 56px;
}

.content {
    padding: 20px;
}
.container {
    padding: 20px;
    text-align: center;
}
.driver-card {
    margin-bottom: 20px;
}

ion-button {
    width: 45%;
    font-size: 14px;
    --border-radius: 5px;
}

ion-card {
    border-radius: 10px;
}

ion-card-title {
    font-size: 18px;
}

ion-card-content {
    font-size: 14px;
}
