<form *ngIf="passwords" [formGroup]="passwords" (ngSubmit)="changePassword()">
  <div class="input-group">
    <ion-item>
      <ion-input
        label="Current Password"
        labelPlacement="floating"
        type="{{ dynamicFieldPasswordType }}"
        formControlName="currentPassword"
      ></ion-input>
    </ion-item>
  </div>
  <div class="input-group">
    <ion-item class="input-icon">
      <ion-input
        label="New Password"
        labelPlacement="floating"
        type="{{ dynamicFieldPasswordType }}"
        formControlName="password"
      ></ion-input>
      <ion-icon
        slot="end"
        name="{{ dynamicFieldPasswordType === 'text' ? 'eye-off' : 'eye' }}"
        class="icon"
        (click)="showPassword()"
      ></ion-icon>
    </ion-item>
    <ion-text
      *ngIf="password?.errors?.minlength && password?.touched"
      color="danger"
      class="error-text"
    >
      Password must be at least {{ minimumPass }} characters.
    </ion-text>
  </div>
  <div class="input-group">
    <ion-item>
      <ion-input
        label="Confirm Password"
        labelPlacement="floating"
        type="{{ dynamicFieldPasswordType }}"
        formControlName="confirmPassword"
      ></ion-input>
    </ion-item>
    <ion-text
      *ngIf="passwordsDoNotMatch && confirmPassword?.touched"
      color="danger"
      class="error-text"
    >
      Passwords do not match.
    </ion-text>
  </div>
  <ion-button
    expand="full"
    type="submit"
    [disabled]="passwords.invalid"
    class="submit-button"
  >
    Save
  </ion-button>
  <div
    *ngIf="message"
    class="message"
    [ngClass]="{ success: isSuccess, error: !isSuccess }"
  >
    {{ message }}
  </div>
</form>
