.forgot-password {
  margin-top: 1rem;
  width: 100%;
}

.logo-container {
  margin-top: 30%;
  text-align: center;
}

.title{
  color:#333;
}
.subtitle{
  color:#33333375;
}

img {
  display: block;
  margin: auto;
  width: 200px;
}
